@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");
.grid__row, .headline--secondary {
  max-width: 1200px;
  margin: auto; }

h1 {
  font-family: "Raleway", sans-serif; }

h2 {
  font-family: "Roboto", sans-serif; }

.blockquote, .headline--primary {
  text-shadow: -3px 2px 2px #969696; }

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  box-shadow: -2px 5px 5px 0px rgba(50, 50, 50, 0.75); }

body {
  color: #0a1128;
  background-color: #f4faff;
  font-family: "Roboto", sans-serif; }

ul {
  list-style-type: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.grid__row {
  padding: 1em 10px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .grid__row {
      flex-direction: row; } }
.grid__col--1 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--1.theme__colors {
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--1 {
      margin-top: 0;
      flex-basis: 8.3333333333%; } }
.grid__col--2 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--2.theme__colors {
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--2 {
      margin-top: 0;
      flex-basis: 16.6666666667%; } }
.grid__col--3 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--3.theme__colors {
    background-color: #00798c;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--3 {
      margin-top: 0;
      flex-basis: 25%; } }
.grid__col--4 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--4.theme__colors {
    background-color: #74b3ce;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--4 {
      margin-top: 0;
      flex-basis: 33.3333333333%; } }
.grid__col--5 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--5.theme__colors {
    background-color: #034732;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--5 {
      margin-top: 0;
      flex-basis: 41.6666666667%; } }
.grid__col--6 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--6.theme__colors {
    background-color: #32746d;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--6 {
      margin-top: 0;
      flex-basis: 50%; } }
.grid__col--7 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--7.theme__colors {
    background-color: #d1495b;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--7 {
      margin-top: 0;
      flex-basis: 58.3333333333%; } }
.grid__col--8 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--8.theme__colors {
    background-color: #006494;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--8 {
      margin-top: 0;
      flex-basis: 66.6666666667%; } }
.grid__col--9 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--9.theme__colors {
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--9 {
      margin-top: 0;
      flex-basis: 75%; } }
.grid__col--10 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--10.theme__colors {
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--10 {
      margin-top: 0;
      flex-basis: 83.3333333333%; } }
.grid__col--11 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--11.theme__colors {
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--11 {
      margin-top: 0;
      flex-basis: 91.6666666667%; } }
.grid__col--12 {
  margin-top: 10px;
  flex-basis: 100%;
  text-align: center; }
  .grid__col--12.theme__colors {
    background-color: #30638e;
    padding: 0.625em 0.625em;
    text-transform: lowercase;
    border-radius: 0.3125em; }
  @media (min-width: 769px) {
    .grid__col--12 {
      margin-top: 0;
      flex-basis: 100%; } }

@media (min-width: 769px) {
  [class^=grid__col] + [class^=grid__col] {
    margin-left: 10px; } }

.form {
  margin: auto;
  max-width: 15.625em;
  border: 0.3125em solid #006494;
  border-radius: 0.3125em; }
  .form legend {
    text-align: left;
    margin: 0.5em; }
  .form__label--hidden {
    display: none; }
  .form__input {
    margin: 0.5em;
    border-style: none;
    border-bottom: 4px solid #74b3ce;
    border-radius: 0.375em;
    padding: 0.25em; }

.centered {
  margin: auto; }

.blockquote {
  font-size: 1.563em;
  font-style: italic;
  border-left: 0.3125em solid #006494;
  border-radius: 0.5em;
  padding-left: 0.625em; }

.headline--primary {
  font-size: 2.441em;
  color: #53dd6c; }
.headline--secondary {
  font-size: 1.25em;
  padding-left: 0.625em; }

.nav__item {
  max-width: 18.75em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.3125em 1.25em;
  border-radius: 0.625em; }
  .nav__item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #006494; }
    .nav__item a:hover {
      color: #eaeaea; }
  .nav__item:hover {
    background-color: #00798c; }
@media (min-width: 769px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }

.btn--default {
  background-color: #74b3ce;
  margin: 0.5em;
  width: 12.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3125em;
  color: #eaeaea;
  text-transform: uppercase; }
  .btn--default:hover {
    color: #c0bcb5; }
.btn--success {
  background-color: #53dd6c;
  margin: 0.5em;
  width: 12.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3125em;
  color: #eaeaea;
  text-transform: uppercase; }
  .btn--success:hover {
    color: #c0bcb5; }
.btn--error {
  background-color: #d1495b;
  margin: 0.5em;
  width: 12.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3125em;
  color: #eaeaea;
  text-transform: uppercase; }
  .btn--error:hover {
    color: #c0bcb5; }
.btn--warning {
  background-color: #ffa630;
  margin: 0.5em;
  width: 12.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3125em;
  color: #eaeaea;
  text-transform: uppercase; }
  .btn--warning:hover {
    color: #c0bcb5; }
.btn--info {
  background-color: #28afb0;
  margin: 0.5em;
  width: 12.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0.3125em;
  color: #eaeaea;
  text-transform: uppercase; }
  .btn--info:hover {
    color: #c0bcb5; }

.img--logo {
  display: block;
  width: 10.125em;
  margin: auto; }
.img--frame {
  border: 0.375em solid #006494;
  border-radius: 0.375em; }
.img--avatar {
  margin: 0.5em;
  border: 0.375em solid #006494;
  border-radius: 6.25em; }

/*# sourceMappingURL=styles.css.map */
