
// Flexbox ===================================================

@mixin flex(
$disp: flex,
$dir: null,
$wrap: null,
$just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}

// Media Query ==============================================

@mixin mq($break) {
  @media (min-width: $break) {
    @content;
  }
}

// Color ===================================================

@mixin bg-colors($map) {
	@each $theme, $color in $map {
		&--#{$theme} {
			background-color: $color;
      @content;
		}
	}
}
