
// Extends ======================================================================

%max-width {
  max-width: $max-width;
  margin: auto;
}

%font-prim {
  font-family: $font-family-primary;
}

%font-sec {
  font-family: $font-family-secondary;
}

%shadow {
  text-shadow: -3px 2px 2px rgba(150, 150, 150, 1);
}

%box-shadow {
  box-shadow: -2px 5px 5px 0px rgba(50, 50, 50, 0.75);
}
