
// Buttons =========================================================================

.btn {
  @include bg-colors($button-colors){
    margin: em(8px);
    width: em(200px);
    padding-top: em(8px);
    padding-bottom: em(8px);
    border-radius: em(5px);
    color: $white;
    text-transform: uppercase;

      &:hover {
        color: $hover-font;
      }
  }
}
