//==========================================================
// Base Styles
//==========================================================

body {
  color: $text;
  background-color: $alice-blue;
}

ul {
  list-style-type: none;
}
